.works-info {
  &__container {
    max-width: 1268px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    @media (max-width: 1023.99px) {
      flex-direction: column;
      gap: 30px;
    }
  }

  &__start {
    max-width: 331px;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
  }

  &__title {
  }

  &__text {
  }

  &__button {
  }

  &__list {
    flex: 0 1 54%;
    display: grid;
    grid-template-columns: 1fr 1fr;

    gap: 24px 72px;

    @media (max-width: 767.99px) {
      grid-template-columns: auto;
    }
  }

  &__item {
    max-width: 270px;
    @media (max-width: 767.99px) {
      max-width: 441px;
      min-width: 250px;
    }
  }
}

.title-section {
}

.works-item {
  display: flex;
  flex-direction: column;
  gap: 20px;

  position: relative;
  padding: 20px;

  background: var(--bg);
  border-radius: 27px;

  &:before {
    position: absolute;
    content: '';
    border-radius: 27px;
    inset: -1px;
    background: linear-gradient(to left, transparent 10%, #d32bef 50%);
    background-size: 200% 100%;
    background-position: right;
    transition: background-position 0.4s ease-out;
    z-index: -1;
  }

  &:hover {
    &:before {
      background-position: left;
    }
  }

  &__icon {
  }

  &__title {
  }

  &__text {
  }
}
